<script>
    function copyToClipboard() {
        var copyText = document.querySelector("#short-link").href;
        navigator.clipboard.writeText(copyText).then(() => {
            alert("Copied to clipboard");
        });
    }
</script>

<div class="grid grid-cols-1">
  <div>
    <p style="color: green"><%= notice %></p>
  </div>

  <div>
    <%= link_to "New link", root_path, class: "p-4" %>
  </div>

  <div id="<%= dom_id @url %>">
      <div class="p-4">Long URL <%= @url.long_url %></div>
      <div class="p-4">Visit this URL <%= link_to "http://localhost:3000/#{@url.short_url}", @url.short_url, id: "short-link", target: '_blank' %></div>
      <button onclick="copyToClipboard()" class="btn btn-primary">Copy Link</button>
  </div>

  <div>
    <%= button_to "Delete this URL", @url, method: :delete, class: "p-4 mt-2 rounded-lg py-3 px-5 bg-red-500 text-white hover:bg-red-600 font-medium" %>
  </div>
</div>
